@page
@model IndexModel
@{
    ViewData["Title"] = "Azure AD client for multiple tenants";
}

<div class="text-center">
    <p>Multiple tenants client</p>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Index</h5>

        <div class="mb-3">
            <label class="form-label">Roles</label>
            @foreach (var role in Model.RolesInTenant)
            {
                <p>@role</p>
            }
            
        </div>

        <div class="mb-3">
            <label for="tenantId" class="form-label">TenantId</label>
            <p id="tenantId">@Model.TenantId</p>
        </div>

        <div class="mb-3">
            <label for="AppTenantName" class="form-label">AppTenantName</label>
            <p>@Model.AppTenantName</p>
        </div>
    </div>
</div>