@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
@{
    ViewData["Title"] = "Azure AD client for multiple tenants";
}

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Sign in</h2>
                    <form>
                        <div class="form-outline mb-4">
                            <select asp-for="Domain" class="form-control" asp-items="@Model.AvailableAppTenants"></select>
                            <label for="domain" class="form-label">Select your domain</label> 
                        </div>

                        <!-- Submit button -->
                        <button type="submit" id="submit" class="btn btn-primary btn-block mb-4">Switch domain</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Sign in</h2>
                        <form>

                            <div class="form-outline mb-4">
                                <input type="text" class="form-control" asp-for="Domain" id="domain" aria-describedby="choose domain">
                                <label for="domain" class="form-label">Add an optional domain</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" id="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

</section>
<!-- Section: Design Block -->



