@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SwitchTenantModel
@{
    ViewData["Title"] = "Microsoft Entra ID client for multiple tenants";
}

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" ></div>
    <!-- Background image -->

    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Select your organisation</h2>

                            <div class="form-outline mb-4">

                                <ul class="navbar-nav">
                                    <li>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                                Switch tenant
                                            </button>
                                            <ul class="dropdown-menu">
                                                @foreach (var item in Model.AvailableAppTenants)
                                                {
                                                    <li><a class="dropdown-item" href="/SwitchTenant?handler=SignIn&domain=@item.Text">@item.Text</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    }

</section>
<!-- Section: Design Block -->



